*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
    background-color:pink;
}
.heading{
    text-align:center;
    margin:30px 0;
    font-size:34px;
    position:relative;
}
.heading::before{
    content:"";
    position:absolute;
    bottom:-10px;
    left:50%;
    transform:translateX(-50%);
    width:150px;
    height:3px;
    background:green;
    animation:animate 2s linear infinite;
}
@keyframes animate{
    0%{
        width:100px;
        background:green;}
    50%{
        width:250px;
        background:red;}
    100%{
        width:100px;
        background:green;}
}
.imgGallery{
    max-width:1300px;
    margin:auto;
}
.imgContainer{
    padding:40px;
    border:3px solid black;
}
.gallery{
    display:flex;
    flex-wrap:wrap;
}
.gallery .image{
    width:25%;
    padding:10px;
    cursor:pointer;
    position:relative;
}
.gallery .image span{
    display:block;
    height:220px;
    overflow:hidden;
}
.gallery .image img{
    width:100%;
    height:100%;
    object-fit:cover;
    border:3px solid rebeccapurple;
}
.gallery .image::before{
    content:attr(data-name);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#fff;
    font-size:22px;
    opacity:0;
    z-index:2;
    transition:.3s;
}
.gallery .image::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,.4);
    height:0;
    transition:.3s;
}
.gallery .image:hover::after{
    height:100%;}
.gallery .image:hover::before{
    opacity:1;}
.nav .items{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:15px;
}
.items .item{
    padding:7px 25px;
    border:3px solid black;
    border-radius:30px;
    cursor:pointer;
    transition:.3s;
}
.items .item.active,
.items .item:hover{
    background:green;
    color:white;
}
.searchBox{
    text-align:center;
}
.searchBox input{
    margin-bottom:10px;
    padding:10px;
    width:220px;
    border:2px solid green;
}
.previewBox{
    position:fixed;
    inset:0;
    margin:auto;
    width:50%;
    height:80%;
    background:#fff;
    box-shadow:0 0 15px rgba(0,0,0,.3);
    opacity:0;
    pointer-events:none;
    transition:.3s;
    z-index:999;
}
.previewBox.show{
    opacity:1;
    pointer-events:auto;
}
.previewBox .details{
    display:flex;
    justify-content:space-between;
    padding:10px;
}
.previewBox .imgBox{
    height:90%;
    display:flex;
    align-items:center;
    position:relative;
}
.previewBox .mainImg{
    width:100%;
    height:100%;
    object-fit:contain;
}
.slide{
    width:60px;
    font-size:30px;
    color:aqua;
    cursor:pointer;
    z-index:10;
}
@media(max-width:900px){
    .gallery .image{width:50%;}
    .previewBox{width:90%;}
}
@media(max-width:600px){
    .gallery .image{width:100%;}
}
@media screen and (max-width:400px){
     .imgContainer{
         padding:5px;
     }
}
@media screen and (max-width:1520px){
    .previewBox .imgBox{
        height:99%;
    }
    .previewBox .imgBox .mainImg{
        height:89%;
    }
}
@media screen and (max-width:1120px){
    .previewBox{
        width:70%;
    }
}
@media screen and (max-width:768px){
    .previewBox{
        width:98%;
    }
}
@media screen and (max-width:568px){
    .previewBox{
        height:70%;
    }
    .previewBox .imgBox{
        height:98%
    }
    .details .titles{
        font-size:14px;
        font-weight:400px;
    }
    .details .category{
        font-size:14px;
        font-weight:600px;
    }
}
@media screen and (max-width:500px){
    .previewBox{
        height:55%;
    }
    .previewBox .imgBox{
        height:95%;
    }
}
@media screen and (max-width:460px){
    .previewBox .imgBox{
        height:93%;
    }
    .details .title{
        font-size:12px;
        font-weight:400px;
    }
    .details .category{
        font-size:12px;
        font-weight:600px;
    }
}